binaries.amd64fre/w2k3.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SSRKnowledgeBase">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="DisplayName" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="SecurityLevels">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Level">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="DisplayOrder" type="xs:unsignedByte" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="DisplayText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Display" type="xs:string" use="required" />
            <xs:attribute name="Default" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Roles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Role">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Selected">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Maximum">
                            <xs:complexType>
                              <xs:attribute name="Value" type="xs:string" use="required" />
                              <xs:attribute name="FunctionName" type="xs:string" use="optional" />
                              <xs:attribute name="DLLName" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Typical">
                            <xs:complexType>
                              <xs:attribute name="Value" type="xs:string" use="required" />
                              <xs:attribute name="FunctionName" type="xs:string" use="optional" />
                              <xs:attribute name="DLLName" type="xs:string" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Services">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Service">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Ports">
                      <xs:complexType mixed="true">
                        <xs:sequence minOccurs="0">
                          <xs:element maxOccurs="unbounded" name="Port">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="Type" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Type" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Tasks">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Task">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice maxOccurs="unbounded">
                      <xs:element name="Name" type="xs:string" />
                      <xs:element name="Roles">
                        <xs:complexType mixed="true">
                          <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="Role">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Name" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Selected">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Maximum">
                              <xs:complexType>
                                <xs:attribute name="Value" type="xs:string" use="required" />
                                <xs:attribute name="FunctionName" type="xs:string" use="optional" />
                                <xs:attribute name="DLLName" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Typical">
                              <xs:complexType>
                                <xs:attribute name="Value" type="xs:string" use="required" />
                                <xs:attribute name="FunctionName" type="xs:string" use="optional" />
                                <xs:attribute name="DLLName" type="xs:string" use="optional" />
                                <xs:attribute name="OnFailure" type="xs:string" use="optional" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Services">
                        <xs:complexType mixed="true">
                          <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="Service">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Name" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Ports">
                        <xs:complexType mixed="true">
                          <xs:sequence minOccurs="0">
                            <xs:element maxOccurs="unbounded" name="Port">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Name" type="xs:string" />
                                  <xs:element name="Type" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="InboundAttackVectorMitigation">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Ports">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Port">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Number" type="xs:unsignedShort" />
                          <xs:element name="Protocols">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="Protocol" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Services">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Service">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Optional" type="xs:string" />
                    <xs:element name="Startup_Default" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Ports">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Port">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Number" type="xs:unsignedShort" />
                    <xs:element name="Protocols">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="Protocol">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="RoleLocalization">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Role">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaskLocalization">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Task">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ServiceLocalization">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Service">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="NetBTLocalization">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Criteria">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Criterion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Name" type="xs:string" />
                          <xs:element name="DisplayName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PortLocalization">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Port">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string" />
                    <xs:element name="Type" type="xs:string" />
                    <xs:element name="DisplayName" type="xs:string" />
                    <xs:element name="Description" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="schemaLocation" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>